.site-card-border-less-wrapper {
    padding: 30px;
    background: #ececec;
  }
  

.site-calendar-demo-card {
    width: 300px;
    border: 1px solid #f0f0f0;
    border-radius: 2px;
    background-color: cadetblue;
  }